{% extends 'bootstrap/base.html'%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> HadithiBlog </title>
    {% endif %}
</head>

<body>
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {%block styles %}
    {{super()}}
    <!--Importing the simple mde css and js files  -->
    {{ simplemde.css}}
    {{ simplemde.js }}
    
    {% endblock %}

    {% block content %}

    {% endblock%}
</body>

</html>