{% extends 'base.html'%}

{% block content%}
<div class="container-fluid">

    <div class="row">
        
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <small class="text-muted" style="font-size: 12px;">{{ blog.posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                        <p class="article-content" style="font-size: 19px;">Posted by: {{ blog.author }}</p>
                        <h2 style="font-size: 38px;color: palevioletred;"><a href="{{ url_for('main.blog' ,blog_id=blog.id) }}">{{ blog.title }} </a></h2>
                        <h5 class="article-content" style="font-size: 30px;">{{ blog.subtitle }}</h5>
                        <p class="article-content" style="font-size: 19px;">{{ blog.content }}</p>
                    </div>
                </article>
            </div>
        </div>
        

        <!-- <div class="col-sm-8">
            {{format_blog|safe}}
        </div> -->
    </div>
</div>
{%endblock%}