<!-- <div class="navbar navbar-inverse" role="navigation"> -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color: #EA7186; font-size: 35px;"> Hadithi Blog </a>
        </div>
        <div class="navbar-collapse collapse" style="color: palevioletred;">
            <ul class="nav navbar-nav">
                <li><a href="/" style="margin-left: 70px;font-size: 20px;color: black;">Home</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.new_blog')}}" style="font-size: 20px;color: black;">New Post</a></li>
                <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="font-size: 20px;color: black;">Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}" style="font-size: 20px;color: black;">Sign out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}" style="font-size: 20px;color: black;">Sign in</a></li>
                {%endif%}
            </ul>
        </div>
        <hr style="border: 1px solid gray;margin-bottom: 30px;">

    </div>
<!-- </div> -->