{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <form action=" {{url_for('main.new_blog')}} " method="POST">
    
                    <div class="form-group">
    
                        <input type="text" class="form-control" id="pitch" name="pitch" placeholder="Blog Title"
                            required>
                        <input type="text" class="form-control" id="pitch" name="pitch" placeholder="Blog sub-title" required>
                        <textarea name="text" id="" cols="30" rows="10" placeholder="ie Once upon a time..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">POST</button>
    
                </form>
            </div>
        </div>

    <div class="col-md-4">

        <!-- {{ wtf.quick_form(form) }} -->
        <!-- {{simplemde.load}} -->
    </div>

</div>

{% endblock %}